body{
	background-color: #b1cbbb;
}

table{
	border : 1px solid black;
	padding: 5px;
	margin : 5px;
	border-radius: 5px;
	border-collapse: collapse;
}

tr , th , td{
	padding: 5px;
	border : 1px solid black;
	border-collapse: collapse;
}

input{
	padding : 3px;
	margin : 3px;
}